{
  "http_interactions": [
    {
      "recorded_at": "2016-10-24T00:15:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.etixdubai.com/oauth2/accesstoken"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"access_token\":\"9a9a4ab71a5c4554b8df5063bef99ce1\",\"token_type\":\"Bearer\",\"expires_in\":86400,\"scope\":\"https://api.etixdubai.com/performances.* https://api.etixdubai.com/baskets.* https://api.etixdubai.com/orders.* https://api.etixdubai.com/inventory.* https://api.etixdubai.com/customers.* https://api.etixdubai.com/tixscan.*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "X-Softix-Media-Type": "application/vnd.softix.api-v1+json; charset=utf-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.etixdubai.com/oauth2/accesstoken"
      }
    },
    {
      "recorded_at": "2016-10-24T00:15:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"Area\": \"SGA\", \"Fees\": [{\"Code\": \"W\", \"Type\": \"5\"}], \"Seller\": \"ANMFZ1\", \"Performancecode\": \"ETES0000004EL\", \"Demand\": [{\"Admits\": 1, \"PriceTypeCode\": \"Q\", \"Customer\": {}, \"Quantity\": 1}], \"holdcode\": \"\", \"Channel\": \"W\"}"
        },
        "headers": {
          "Authorization": "Bearer 9a9a4ab71a5c4554b8df5063bef99ce1",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://api.etixdubai.com/baskets"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"Id\":\"28209-32903106\",\"Offers\":[{\"Id\":\"1\",\"InventorySource\":null,\"DateTime\":\"0001-01-01T00:00:00\",\"PerformanceCode\":\"ETES0000004EL\",\"PriceCategoryId\":null,\"PriceCategoryCode\":\"1\",\"PriceCategory\":null,\"Seller\":\"ANMFZ1\",\"Channel\":\"W\",\"Demand\":[{\"PriceTypeId\":null,\"PriceTypeCode\":\"Q\",\"PriceType\":null,\"Quantity\":1,\"Admits\":1,\"OfferCode\":null,\"QualifierCode\":null,\"Entitlement\":null,\"Customer\":{\"Id\":null,\"AFile\":null,\"Account\":null,\"OrgCustomerId\":null},\"Prices\":[{\"Id\":null,\"SheetId\":0,\"Net\":10000,\"Fees\":[{\"Id\":null,\"Bucket\":null,\"Code\":null,\"FinanceCode\":null,\"Inside\":false,\"Name\":null,\"SheetId\":0,\"Total\":0,\"Type\":\"1\",\"TypeName\":\"BookingFee\"}]}]}],\"Seats\":[{\"Section\":\"SGA\",\"Row\":\"GA\",\"Seats\":\"14\",\"RzStr\":\"RGA/Q14-\"}],\"Fees\":[{\"Id\":null,\"Bucket\":null,\"Code\":\"W\",\"FinanceCode\":null,\"Inside\":false,\"Name\":null,\"SheetId\":0,\"Total\":0,\"Type\":\"5\",\"TypeName\":\"HandlingFee\"}]}],\"Fees\":[]}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.etixdubai.com/baskets"
      }
    }
  ],
  "recorded_with": "betamax/0.7.2"
}