{
  "http_interactions": [
    {
      "recorded_at": "2016-11-16T04:20:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"city\": \"dubai\", \"internationalcode\": \"971\", \"firstname\": \"ajilan\", \"countrycode\": \"IN\", \"areacode\": \"unknown\", \"lastname\": \"MA\", \"dateofbirth\": \"4-23-2015\", \"state\": \"dubai\", \"phonenumber\": \"507156120\", \"addressline3\": \"-\", \"addressline1\": \"-\", \"salutation\": \"-\", \"addressline2\": \"-\", \"nationality\": \"IN\", \"email\": \"unknown@unknown.com\"}"
        },
        "headers": {
          "Authorization": "Bearer <OAUTH_TOKEN>>",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://api.etixdubai.com/customers?sellerCode=ANMFZ1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ID\":1768618,\"Account\":1753759,\"AFile\":\"tel\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "X-Softix-Media-Type": "application/vnd.softix.api-v1+json; charset=utf-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.etixdubai.com/customers?sellerCode=ANMFZ1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.2"
}