{
  "http_interactions": [
    {
      "recorded_at": "2016-09-03T20:05:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.etixdubai.com/oauth2/accesstoken"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"access_token\":\"25c28d72262841f7ad23a4334edd0d55\",\"token_type\":\"Bearer\",\"expires_in\":86399,\"scope\":\"https://api.etixdubai.com/performances.* https://api.etixdubai.com/baskets.* https://api.etixdubai.com/orders.* https://api.etixdubai.com/inventory.* https://api.etixdubai.com/customers.* https://api.etixdubai.com/tixscan.*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "X-Softix-Media-Type": "application/vnd.softix.api-v1+json; charset=utf-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.etixdubai.com/oauth2/accesstoken"
      }
    },
    {
      "recorded_at": "2016-09-03T20:05:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Bearer 25c28d72262841f7ad23a4334edd0d55",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.etixdubai.com/performances/ETES2JN/availabilities?sellerCode=ANMFZ1&channel=W"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"PriceCategories\":[{\"Availability\":{\"SoldOut\":false,\"StatusCode\":\"Ok\"},\"PriceCategoryId\":1,\"PriceCategoryCode\":\"1\",\"PriceCategoryName\":\"Reserved Seating\"},{\"Availability\":{\"SoldOut\":true,\"StatusCode\":\"SoldOut\"},\"PriceCategoryId\":2,\"PriceCategoryCode\":\"2\",\"PriceCategoryName\":\"Gold\"},{\"Availability\":{\"SoldOut\":true,\"StatusCode\":\"SoldOut\"},\"PriceCategoryId\":3,\"PriceCategoryCode\":\"3\",\"PriceCategoryName\":\"Ga1\"},{\"Availability\":{\"SoldOut\":false,\"StatusCode\":\"Ok\"},\"PriceCategoryId\":4,\"PriceCategoryCode\":\"4\",\"PriceCategoryName\":\"Tcat\"}]}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"1ba376e9-dfc8-42dc-9263-e682e8e3f4f6\"",
          "X-Softix-Media-Type": "application/vnd.softix.api-v1+json; charset=utf-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.etixdubai.com/performances/ETES2JN/availabilities?sellerCode=ANMFZ1&channel=W"
      }
    }
  ],
  "recorded_with": "betamax/0.7.2"
}