{
  "http_interactions": [
    {
      "recorded_at": "2016-08-20T21:08:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.etixdubai.com/oauth2/accesstoken"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"access_token\":\"f0cfded1eb304d698cfb140ca680c54f\",\"token_type\":\"Bearer\",\"expires_in\":86400,\"scope\":\"https://api.etixdubai.com/performances.* https://api.etixdubai.com/baskets.* https://api.etixdubai.com/orders.* https://api.etixdubai.com/inventory.* https://api.etixdubai.com/customers.* https://api.etixdubai.com/tixscan.*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "X-Softix-Media-Type": "application/vnd.softix.api-v1+json; charset=utf-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.etixdubai.com/oauth2/accesstoken"
      }
    },
    {
      "recorded_at": "2016-08-20T21:08:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"city\": \"dubai\", \"internationalcode\": \"971\", \"countrycode\": \"IN\", \"firstname\": \"ajilan\", \"areacode\": \"unknown\", \"lastname\": \"MA\", \"dateofbirth\": \"4-23-2015\", \"state\": \"dubai\", \"phonenumber\": \"507156120\", \"addressline2\": \"-\", \"addressline1\": \"-\", \"salutation\": \"-\", \"nationality\": \"IN\", \"email\": \"unknown@unknown.com\", \"addressline3\": \"-\"}"
        },
        "headers": {
          "Authorization": "Bearer f0cfded1eb304d698cfb140ca680c54f",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://api.etixdubai.com/customers?sellerCode=ANMFZ1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ID\":1293759,\"Account\":1278011,\"AFile\":\"tel\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "X-Softix-Media-Type": "application/vnd.softix.api-v1+json; charset=utf-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.etixdubai.com/customers?sellerCode=ANMFZ1"
      }
    },
    {
      "recorded_at": "2016-08-20T21:08:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"city\": \"dubai\", \"internationalcode\": \"971\", \"countrycode\": \"IN\", \"firstname\": \"ajilan\", \"areacode\": \"unknown\", \"lastname\": \"MA\", \"dateofbirth\": \"4-23-2015\", \"phonenumber\": \"507156120\", \"addressline3\": \"-\", \"addressline1\": \"-\", \"salutation\": \"-\", \"addressline2\": \"-\", \"nationality\": \"IN\", \"email\": \"unknown@unknown.com\"}"
        },
        "headers": {
          "Authorization": "Bearer f0cfded1eb304d698cfb140ca680c54f",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://api.etixdubai.com/customers?sellerCode=ANMFZ1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"Code\":2300,\"Message\":\"Not all customer details were provided or some details were incorrect.\",\"Reference\":\"http://api.softix.pricing/docs\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "X-Softix-Media-Type": "application/vnd.softix.api-v1+json; charset=utf-8"
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        },
        "url": "https://api.etixdubai.com/customers?sellerCode=ANMFZ1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.2"
}