{
  "http_interactions": [
    {
      "recorded_at": "2016-11-16T04:44:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"Area\": \"SGA\", \"Fees\": [{\"Code\": \"W\", \"Type\": \"5\"}], \"Seller\": \"ANMFZ1\", \"Performancecode\": \"ETES0000004EL\", \"Demand\": [{\"Admits\": 1, \"PriceTypeCode\": \"Q\", \"Customer\": {}, \"Quantity\": 1}], \"holdcode\": \"\", \"Channel\": \"W\"}"
        },
        "headers": {
          "Authorization": "Bearer <OAUTH_TOKEN>>",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://api.etixdubai.com/baskets"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"Id\":\"4904-34721586\",\"Offers\":[{\"Id\":\"1\",\"InventorySource\":null,\"DateTime\":\"0001-01-01T00:00:00\",\"PerformanceCode\":\"ETES0000004EL\",\"PriceCategoryId\":null,\"PriceCategoryCode\":\"1\",\"PriceCategory\":null,\"Seller\":\"ANMFZ1\",\"Channel\":\"W\",\"Demand\":[{\"PriceTypeId\":null,\"PriceTypeCode\":\"Q\",\"PriceType\":null,\"Quantity\":1,\"Admits\":1,\"OfferCode\":null,\"QualifierCode\":null,\"Entitlement\":null,\"Customer\":{\"Id\":null,\"AFile\":null,\"Account\":null,\"OrgCustomerId\":null},\"Prices\":[{\"Id\":null,\"SheetId\":0,\"Net\":10000,\"Fees\":[{\"Id\":null,\"Bucket\":null,\"Code\":null,\"FinanceCode\":null,\"Inside\":false,\"Name\":null,\"SheetId\":0,\"Total\":0,\"Type\":\"1\",\"TypeName\":\"BookingFee\"}]}]}],\"Seats\":[{\"Section\":\"SGA\",\"Row\":\"GA\",\"Seats\":\"154\",\"RzStr\":\"RGA/Q154-\"}],\"Fees\":[{\"Id\":null,\"Bucket\":null,\"Code\":\"W\",\"FinanceCode\":null,\"Inside\":false,\"Name\":null,\"SheetId\":0,\"Total\":0,\"Type\":\"5\",\"TypeName\":\"HandlingFee\"}]}],\"Fees\":[]}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.etixdubai.com/baskets"
      }
    }
  ],
  "recorded_with": "betamax/0.7.2"
}