{
  "http_interactions": [
    {
      "recorded_at": "2016-10-16T18:19:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.etixdubai.com/oauth2/accesstoken"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"access_token\":\"469199df25d64469936479026b0068de\",\"token_type\":\"Bearer\",\"expires_in\":86400,\"scope\":\"https://api.etixdubai.com/performances.* https://api.etixdubai.com/baskets.* https://api.etixdubai.com/orders.* https://api.etixdubai.com/inventory.* https://api.etixdubai.com/customers.* https://api.etixdubai.com/tixscan.*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "X-Softix-Media-Type": "application/vnd.softix.api-v1+json; charset=utf-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.etixdubai.com/oauth2/accesstoken"
      }
    },
    {
      "recorded_at": "2016-10-16T18:19:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"city\": \"dubai\", \"internationalcode\": \"971\", \"firstname\": \"ajilan\", \"countrycode\": \"IN\", \"areacode\": \"unknown\", \"lastname\": \"MA\", \"dateofbirth\": \"4-23-2015\", \"state\": \"dubai\", \"phonenumber\": \"507156120\", \"addressline3\": \"-\", \"addressline1\": \"-\", \"salutation\": \"-\", \"addressline2\": \"-\", \"nationality\": \"IN\", \"email\": \"unknown@unknown.com\"}"
        },
        "headers": {
          "Authorization": "Bearer 469199df25d64469936479026b0068de",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://api.etixdubai.com/customers?sellerCode=ANMFZ1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ID\":1538078,\"Account\":1523045,\"AFile\":\"tel\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "X-Softix-Media-Type": "application/vnd.softix.api-v1+json; charset=utf-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.etixdubai.com/customers?sellerCode=ANMFZ1"
      }
    }
  ],
  "recorded_with": "betamax/0.7.2"
}