{
  "http_interactions": [
    {
      "recorded_at": "2016-11-16T05:31:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Bearer <OAUTH_TOKEN>>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.etixdubai.com/orders/20161116,1023?sellerCode=ANMFZ1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"Id\":\"20161116,1023\",\"DateTime\":\"0001-01-01T00:00:00\",\"Payments\":[{\"Id\":\"20161116,1022\",\"InventorySource\":{\"Id\":\"20161116,1022\",\"Name\":\"Origin\"}}],\"OrderItems\":[{\"Id\":\"20161116,1023\",\"DateTime\":\"0001-01-01T00:00:00\",\"InventorySource\":{\"Id\":\"20161116,1023\",\"Name\":\"Origin\"},\"OrderLineItems\":[{\"Id\":1,\"DateTime\":\"0001-01-01T00:00:00\",\"PerformanceCode\":\"ETES0000004EL\",\"PriceCategoryId\":null,\"PriceCategoryCode\":\"1\",\"PriceCategoryName\":null,\"Seller\":\"ANMFZ1\",\"Channel\":\"W\",\"PriceTypeId\":null,\"PriceTypeCode\":\"G\",\"PriceTypeName\":\"10DIS\",\"OfferCode\":null,\"QualifierCode\":null,\"Entitlement\":null,\"Concession\":false,\"Barcode\":\"29263242296862\",\"Customer\":{\"Id\":null,\"AFile\":\"tel\",\"Account\":\"101\",\"OrgCustomerId\":null},\"Price\":{\"Id\":null,\"SheetId\":0,\"Net\":8000,\"Fees\":[{\"Id\":null,\"Code\":null,\"SheetId\":0,\"Type\":\"4\",\"TypeName\":\"Booking Fee\",\"Name\":null,\"Total\":0,\"Bucket\":null,\"Inside\":false,\"FinanceCode\":null}]},\"Seat\":{\"Section\":\"SGA\",\"Row\":\"GA\",\"Seats\":\"139\",\"RzStr\":\"RGA/G139-\"}},{\"Id\":2,\"DateTime\":\"0001-01-01T00:00:00\",\"PerformanceCode\":\"ETES0000004EL\",\"PriceCategoryId\":null,\"PriceCategoryCode\":\"1\",\"PriceCategoryName\":null,\"Seller\":\"ANMFZ1\",\"Channel\":\"W\",\"PriceTypeId\":null,\"PriceTypeCode\":\"G\",\"PriceTypeName\":\"10DIS\",\"OfferCode\":null,\"QualifierCode\":null,\"Entitlement\":null,\"Concession\":false,\"Barcode\":\"29224696225352\",\"Customer\":{\"Id\":null,\"AFile\":\"tel\",\"Account\":\"101\",\"OrgCustomerId\":null},\"P[...]
    {
      "recorded_at": "2016-11-16T05:31:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"refunds\": [{\"Amount\": 54000, \"MeansOfPayment\": \"EXTERNAL\"}], \"Seller\": \"ANMFZ1\"}"
        },
        "headers": {
          "Authorization": "Bearer <OAUTH_TOKEN>>",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://api.etixdubai.com/orders/20161116,1023/reverse"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://api.etixdubai.com/orders/20161116,1023/reverse"
      }
    }
  ],
  "recorded_with": "betamax/0.7.2"
}