{
  "http_interactions": [
    {
      "recorded_at": "2016-11-16T04:24:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Bearer <OAUTH_TOKEN>>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.etixdubai.com/performances/ETES2JN/availabilities?sellerCode=ANMFZ1&channel=W"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"PriceCategories\":[{\"Availability\":{\"SoldOut\":false,\"StatusCode\":\"Ok\"},\"PriceCategoryId\":1,\"PriceCategoryCode\":\"1\",\"PriceCategoryName\":\"Reserved Seating\"},{\"Availability\":{\"SoldOut\":true,\"StatusCode\":\"SoldOut\"},\"PriceCategoryId\":2,\"PriceCategoryCode\":\"2\",\"PriceCategoryName\":\"Gold\"},{\"Availability\":{\"SoldOut\":true,\"StatusCode\":\"SoldOut\"},\"PriceCategoryId\":3,\"PriceCategoryCode\":\"3\",\"PriceCategoryName\":\"Ga1\"},{\"Availability\":{\"SoldOut\":false,\"StatusCode\":\"Limited\"},\"PriceCategoryId\":4,\"PriceCategoryCode\":\"4\",\"PriceCategoryName\":\"Tcat\"}]}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"b6b46443-310a-4d56-b9f0-825c49fa62ef\"",
          "X-Softix-Media-Type": "application/vnd.softix.api-v1+json; charset=utf-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.etixdubai.com/performances/ETES2JN/availabilities?sellerCode=ANMFZ1&channel=W"
      }
    }
  ],
  "recorded_with": "betamax/0.7.2"
}