{
  "http_interactions": [
    {
      "recorded_at": "2016-08-13T23:20:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.etixdubai.com/oauth2/accesstoken"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"access_token\":\"844e4c116f7249a1b14b5f09f8ac42a0\",\"token_type\":\"Bearer\",\"expires_in\":86399,\"scope\":\"https://api.etixdubai.com/performances.* https://api.etixdubai.com/baskets.* https://api.etixdubai.com/orders.* https://api.etixdubai.com/inventory.* https://api.etixdubai.com/customers.* https://api.etixdubai.com/tixscan.*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "X-Softix-Media-Type": "application/vnd.softix.api-v1+json; charset=utf-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.etixdubai.com/oauth2/accesstoken"
      }
    }
  ],
  "recorded_with": "betamax/0.7.2"
}