{
  "http_interactions": [
    {
      "recorded_at": "2016-11-20T22:15:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Bearer <OAUTH_TOKEN>>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.etixdubai.com/baskets/4281-35183081?sellerCode=ANMFZ1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"Expiry\":null,\"Id\":\"4281-35183081\",\"Offers\":[{\"Id\":\"1\",\"InventorySource\":{\"Id\":\"4281:35183081\",\"Name\":\"Origin\"},\"DateTime\":\"0001-01-01T00:00:00\",\"PerformanceCode\":\"ETES0000004EL\",\"PriceCategoryId\":\"1\",\"PriceCategoryCode\":\"1\",\"PriceCategory\":null,\"Seller\":null,\"Channel\":null,\"Demand\":[{\"PriceTypeId\":null,\"PriceTypeCode\":\"G\",\"PriceType\":null,\"Quantity\":3,\"Admits\":3,\"OfferCode\":null,\"QualifierCode\":null,\"Entitlement\":null,\"Customer\":null,\"Prices\":[{\"Id\":null,\"SheetId\":0,\"Net\":54000,\"Fees\":[{\"Id\":null,\"Bucket\":null,\"Code\":null,\"FinanceCode\":null,\"Inside\":false,\"Name\":null,\"SheetId\":0,\"Total\":0,\"Type\":\"1\",\"TypeName\":\"BookingFee\"}]}]},{\"PriceTypeId\":null,\"PriceTypeCode\":\"Q\",\"PriceType\":null,\"Quantity\":3,\"Admits\":3,\"OfferCode\":null,\"QualifierCode\":null,\"Entitlement\":null,\"Customer\":null,\"Prices\":null}],\"Seats\":[{\"Section\":\"SGA\",\"Row\":\"GA\",\"Seats\":\"-\",\"RzStr\":\"RGA/G186-188,Q189-191\"}],\"Fees\":[{\"Id\":null,\"Bucket\":null,\"Code\":\"W\",\"FinanceCode\":null,\"Inside\":false,\"Name\":null,\"SheetId\":0,\"Total\":0,\"Type\":\"5\",\"TypeName\":\"Handling Fee\"}]}],\"Fees\":null}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.etixdubai.com/baskets/4281-35183081?sellerCode=ANMFZ1"
      }
    },
    {
      "recorded_at": "2016-11-20T22:15:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"Payments\": [{\"Amount\": 54000, \"MeansOfPayment\": \"EXTERNAL\"}], \"Seller\": \"ANMFZ1\"}"
        },
        "headers": {
          "Authorization": "Bearer <OAUTH_TOKEN>>",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://api.etixdubai.com/Baskets/4281-35183081/purchase"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"OrderId\":\"20161121,152\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.etixdubai.com/Baskets/4281-35183081/purchase"
      }
    }
  ],
  "recorded_with": "betamax/0.7.2"
}