{
  "http_interactions": [
    {
      "recorded_at": "2016-09-03T19:45:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.etixdubai.com/oauth2/accesstoken"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"access_token\":\"c896bd84c2704771bd1fdcbb24642fa4\",\"token_type\":\"Bearer\",\"expires_in\":86400,\"scope\":\"https://api.etixdubai.com/performances.* https://api.etixdubai.com/baskets.* https://api.etixdubai.com/orders.* https://api.etixdubai.com/inventory.* https://api.etixdubai.com/customers.* https://api.etixdubai.com/tixscan.*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "X-Softix-Media-Type": "application/vnd.softix.api-v1+json; charset=utf-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.etixdubai.com/oauth2/accesstoken"
      }
    },
    {
      "recorded_at": "2016-09-03T19:45:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"Area\": \"SGA\", \"Channel\": \"W\", \"Seller\": \"ANMFZ1\"}"
        },
        "headers": {
          "Authorization": "Bearer c896bd84c2704771bd1fdcbb24642fa4",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://api.etixdubai.com/baskets"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"Code\":2260,\"Message\":\"One or more parameters in the offer request were invalid.\",\"Hint\":\"Demand is a required field\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8"
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        },
        "url": "https://api.etixdubai.com/baskets"
      }
    }
  ],
  "recorded_with": "betamax/0.7.2"
}